#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.container{
  border: 1px solid #717171;
  padding: 40px 30px;
}

.screen{
  border: 1px solid ;
  height: 25px;
  margin-bottom: 12px;
  border-radius: 4px;
  padding: 5px;
  text-align: left;
}

.buttons{
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 5px;
}
